html, body {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;   
  background: #f8f9fa;    
}

.card {
  max-width: 400px;
  width: 100%;
}

.fade-message {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.fade-message.fade-out {
  opacity: 0;
}
